* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.inputs {
  height: 400px;
  @include center-content();
  background-color: $site-pink;
  padding: 50px;
  display: flex;
  justify-content: center;

  input {
    width: 529px;
    height: 60px;
    font-size: 16px;
    padding-left: 20px;
    background-color: $site-input-bg;
    border: none;

    //border: 1px solid $site-purple;
    color: rgba($site-white, 0.5);
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba($site-white, 0.5);
    }
  }
  .submit-button {
    background-color: $site-white;
    color: $site-pink;
    text-transform: uppercase;
    width: 167px;
    margin-left: -5px;
  }
}
