.upcoming-events {
  min-height: 320px;
  background-color: $site-purple;

  .event-container {
    @include center-content();
    //background-color: red;
    padding: 50px 40px;
    .title {
      text-transform: uppercase;
      color: $site-white;
      font-size: 25px;
    }
    .underline {
      height: 2px;
      background-color: $site-white;
      width: 392px;
    }
    .date-container {
      min-height: 124px;
      //background-color: blue;
      margin-top: 34px;
      display: flex;
      justify-content: space-between;
      .date {
        height: 100%;
        width: 220px;
        display: flex;
        justify-content: space-between;
        .date-day {
          width: 60px;
          height: 60px;
          background-color: $site-pink;
          color: $site-white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .day {
            font-size: 22px;
            margin-bottom: 0;
          }
          .month {
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 0;
          }
        }
        .date-text-cont {
          width: 140px;
          height: 100%;
          //background-color: green;
          .subject {
            color: $site-white;
            font-size: 15px;
          }
          .desc {
            font-size: 13px;
            color: $site-pink;
          }
        }
      }
    }
  }
}

@media (max-width: 1092px) {
  .upcoming-events {
    .event-container {
      .date-container {
        flex-direction: column;
        .date {
          margin: auto;
        }
      }
    }
  }
}
