/*site colors*/
$site-purple: #540d63;
$site-pink: #ee4367;
$site-yellow: #ffd140;
$site-teal: #3bceab;
$site-green: #08ad69;
$site-white: #fff;
$site-grey: #a8a8a8;
$site-full-width: 1280px;
$site-input-bg: #f56b88;
