.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: $site-yellow;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(
        to right,
        rgba($site-yellow, 0.8),
        rgba($site-yellow, 0.8)
      ),
      url("../images/home-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .callout {
    width: 416px;
    // margin: 0 auto;
    text-align: center;
    margin-top: 90px;
    h1 {
      color: $site-white;
    }
    .l-imp {
      color: $site-pink;
      margin-bottom: 35px;
      font-style: italic;
    }
    .desc {
      color: $site-white;
      margin-bottom: 35px;
      font-style: italic;
    }
    .site-button {
      padding: 10px 25px;
      background-color: $site-pink;
      text-decoration: none;
      color: $site-white;
    }
  }
}
