.flyer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  .country {
    height: 304px;
    width: 236;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      text-transform: lowercase;
    }
  }
}
