.blog {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60%;
  margin-bottom: 300px;
  .blog-title {
    margin-top: 200px;
    font-family: $lato-font;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .blog-title:after {
    content: "";
    display: block;
    width: 5%;
    border-bottom: 2px solid black;
  }
  .blogs {
    display: flex;
    flex-direction: column;

    .blog1 {
      display: flex;
      margin-bottom: 100px;
    }
    .blog2 {
      display: flex;
    }
    .blog-date {
      height: 60px;
      width: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $site-blue;
      margin-right: 20px;
      .day {
        font-size: 22px;
        font-family: $roboto-font;
        color: $site-white;
        font-style: bold;
      }
      .month {
        font-size: 12px;
        font-family: $roboto-font;
        color: $site-white;
        margin: 0 auto;
        font-weight: 100;
        text-transform: uppercase;
        padding-left: 20px;
      }
    }
    .blog-image {
      background-image: url("../images/blog.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 900px;
      height: 259px;
      margin-bottom: 20px;
    }
    h5 {
      width: 245px;
      height: 22px;
      font-family: $roboto-font;
      font-size: 15px;
      margin-bottom: 20px;
    }
    p {
      width: 380px;
      height: 64px;
      font-family: $roboto-font;
      color: $site-blue;
      font-size: 13px;
    }
  }
}

@media (max-width: 1300px) {
  .blog {
    .blogs {
      .blog-image {
        width: 700px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .blog {
    margin-bottom: 500px;
    .blogs {
      .blog-image {
        width: 100%;
      }
      .blog1 {
        flex-direction: column;
      }
      .blog2 {
        flex-direction: column;
      }
    }
  }
}
