nav {
  position: relative;
  z-index: 99;
  //width: 980px;
  width: 60%;
  height: 92px;
  margin: 0 auto;
  border-bottom: 2px solid $site-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-left: 18%;
  //background-color: black;
  margin-bottom: -100px;

  .logo {
    height: 42px;
    width: 92px;
    //border: 2px solid $site-white;
    background-image: url("../images/logo/logo-white.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .link-wrap {
    &:hover > .links {
      display: flex;
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: lowercase;
      a {
        //color: $site-white;
        font-size: 15px;
        text-decoration: none;
        font-family: $lato-font;
      }
      span {
        margin: 0 10px;
        color: $site-blue;
        font-size: 20px;
      }
    }
    .navicon {
      display: none;
      color: $site-white;
      font-size: 120%;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  nav {
    .link-wrap {
      &:hover > .links {
        display: flex;
      }
      .links {
        display: none;
        background-color: rgba(black, 0.5);
        flex-direction: column;
        margin-top: 250px;
        width: 200px;
        margin-right: -30px;

        a {
          margin-bottom: 20px;
        }
        span {
          display: none;
        }
      }
      .navicon {
        display: block;
      }
    }
  }
}
