nav {
  position: relative;
  z-index: 99;
  width: 60%;
  height: 92px;
  margin: 0 auto;
  border-bottom: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -100px; }
  nav .logo {
    height: 42px;
    width: 92px;
    background-image: url("../images/logo/logo-white.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  nav .link-wrap:hover > .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  nav .link-wrap .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: lowercase; }
    nav .link-wrap .links a {
      color: #ffffff;
      font-size: 15px;
      text-decoration: none;
      font-family: "Lato", sans-serif; }
    nav .link-wrap .links span {
      margin: 0 10px;
      color: #79addc;
      font-size: 20px; }
  nav .link-wrap .navicon {
    display: none;
    color: #ffffff;
    font-size: 120%;
    cursor: pointer; }

@media (max-width: 768px) {
  nav .link-wrap:hover > .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  nav .link-wrap .links {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 250px;
    width: 200px;
    margin-right: -30px; }
    nav .link-wrap .links a {
      margin-bottom: 20px; }
    nav .link-wrap .links span {
      display: none; }
  nav .link-wrap .navicon {
    display: block; } }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: #000000; }
  .hero-wrapper h1 {
    text-transform: lowercase; }
  .hero-wrapper .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1280px;
    height: 500px;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/hero.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .hero-wrapper .callout {
    width: 416px;
    text-align: center;
    margin-top: 190px; }
    .hero-wrapper .callout h1 {
      color: #ffffff;
      font-size: 60px;
      font-family: "Roboto", sans-serif;
      font-weight: 100; }
    .hero-wrapper .callout .l-imp {
      color: #ffffff;
      margin-bottom: 35px;
      font-size: 20px;
      text-transform: lowercase;
      font-family: "Lato", sans-serif;
      font-style: italic; }
    .hero-wrapper .callout .desc {
      color: #ffffff;
      margin-bottom: 35px;
      text-transform: lowercase; }
    .hero-wrapper .callout .site-button {
      height: 40px;
      width: 122px;
      padding: 5px 15px;
      background-color: #79addc;
      text-decoration: none;
      color: #ffffff;
      font-size: 15px;
      font-family: "Lato", sans-serif; }

.special-offer {
  height: 100%; }
  .special-offer .special {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 200px; }
    .special-offer .special .title {
      width: 300px; }
    .special-offer .special h3 {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: 100;
      text-transform: uppercase; }
    .special-offer .special h3:after {
      content: "";
      display: block;
      width: 60%;
      border-bottom: 2px solid black; }
    .special-offer .special .offer1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .special-offer .special .offer1 .image {
        height: 290px;
        width: 200px;
        background-image: url("../images/special-offer-01.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 20px; }
      .special-offer .special .offer1 .offer-details {
        margin-bottom: 75px; }
        .special-offer .special .offer1 .offer-details .deal {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .special-offer .special .offer1 .offer-details .deal span {
            color: #ff7d38;
            font-family: "Lato", sans-serif;
            font-size: 20px;
            font-weight: 100;
            margin-left: 10px; }
      .special-offer .special .offer1 p {
        width: 300px;
        height: 130px;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-size: 16px; }
      .special-offer .special .offer1 .offer-button {
        text-decoration: none;
        color: #ffffff;
        background-color: #79addc;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        border-radius: 50px;
        width: 133px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 50px;
        text-transform: uppercase; }
    .special-offer .special .offer2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .special-offer .special .offer2 .image {
        height: 290px;
        width: 200px;
        background-image: url("../images/special-offer-02.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 20px; }
      .special-offer .special .offer2 .offer-details {
        margin-bottom: 75px; }
        .special-offer .special .offer2 .offer-details .deal {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .special-offer .special .offer2 .offer-details .deal span {
            color: #ff7d38;
            font-family: "Lato", sans-serif;
            font-size: 20px;
            font-weight: 100;
            margin-left: 10px; }
      .special-offer .special .offer2 p {
        width: 300px;
        height: 130px;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-size: 16px; }
      .special-offer .special .offer2 .offer-button {
        text-decoration: none;
        color: #ffffff;
        background-color: #79addc;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        border-radius: 50px;
        width: 133px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 50px;
        text-transform: uppercase; }

@media (max-width: 1000px) {
  .special-offer {
    margin-bottom: 500px; }
    .special-offer .special .offer1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .special-offer .special .offer2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.flyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  min-height: 300px;
  color: #ffffff;
  max-width: 818px;
  margin: 0 auto;
  margin-bottom: 50px; }
  .flyer .isreal {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-01.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .usa {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-02.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-02.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-02.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-02.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .australia {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-03.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-03.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-03.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-03.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .nz {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-04.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-04.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-04.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-04.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .france {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-05.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-05.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-05.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-05.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .egypt {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-06.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-06.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-06.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-06.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .japan {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-07.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-07.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-07.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-07.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .canada {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-08.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-08.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-08.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-08.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .uae {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-09.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-09.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-09.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-09.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .flyer .country {
    height: 304px;
    width: 236px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -35px;
    border: solid 1px black; }
    .flyer .country span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-transform: lowercase;
      font-size: 30px;
      font-family: "Roboto", sans-serif;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .flyer .country p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: "Roboto", sans-serif;
      font-size: 40px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }
    .flyer .country .flyer-button {
      text-decoration: none;
      color: #ffffff;
      background-color: #79addc;
      font-family: "Lato", sans-serif;
      font-size: 15px;
      border-radius: 50px;
      width: 133px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 50px;
      text-transform: uppercase; }

.tours-header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tours-header.jpg");
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tours-header.jpg");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tours-header.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tours-header.jpg");
  height: 200px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 85px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 200px; }
  .tours-header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 60px;
    text-transform: uppercase; }

@media (max-width: 1000px) {
  .flyer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .flyer .country {
      margin-bottom: 50px; } }

@media (max-width: 1400px) {
  .tours-header {
    width: 100%; } }

.form {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 891px;
  margin: 0 auto;
  max-width: 818px; }
  .form input {
    border: 1px solid #79addc;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #000000; }
  .form .title {
    font-size: 60px;
    font-family: "Roboto", sans-serif; }
  .form .name-email {
    width: 827px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px; }
  .form .name {
    margin-bottom: 15px;
    margin-right: 15px; }
    .form .name input {
      width: 344px;
      height: 58px;
      font-size: 18px;
      font-family: "Lato", sans-serif;
      padding-left: 15px;
      color: #000000; }
  .form .email {
    margin-bottom: 15px;
    margin-right: 15px; }
    .form .email input {
      width: 453px;
      height: 58px;
      font-size: 18px;
      font-family: "Lato", sans-serif;
      padding-left: 15px; }
  .form .input-country {
    margin-bottom: 15px;
    margin-right: 15px; }
    .form .input-country input {
      width: 344px;
      height: 58px;
      font-size: 18px;
      font-family: "Lato", sans-serif;
      padding-left: 15px;
      color: #000000; }
  .form .hotel {
    margin-bottom: 15px;
    margin-right: 15px; }
    .form .hotel input {
      width: 453px;
      height: 58px;
      font-size: 18px;
      font-family: "Lato", sans-serif;
      padding-left: 15px; }
  .form .country-hotel {
    width: 827px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px; }
  .form .checkin-out input {
    width: 698px;
    height: 58px; }
  .form .checkin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: #000000;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px; }
    .form .checkin .check-in-text {
      font-family: "Lato", sans-serif;
      color: #000000;
      font-size: 18px;
      padding-left: 15px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background-size: 15px;
      background-image: url("../images/calendar.svg");
      background-repeat: no-repeat;
      background-position-x: 670px;
      background-position-y: 20px; }
  .form .checkout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: #000000;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px; }
    .form .checkout .check-out-text {
      padding-left: 15px;
      font-family: "Lato", sans-serif;
      color: #000000;
      font-size: 18px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background-size: 15px;
      background-image: url("../images/calendar.svg");
      background-repeat: no-repeat;
      background-position-x: 670px;
      background-position-y: 20px; }
  .form .cin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form .cout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form .adjustables {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 58px;
    font-family: "Lato", sans-serif;
    color: #000000;
    font-size: 18px;
    margin-bottom: 20px; }
    .form .adjustables .form-adjustables {
      height: 58px;
      width: 103px;
      font-family: "Lato", sans-serif;
      color: #000000;
      font-size: 18px;
      border-color: #79addc;
      font-family: "Lato", sans-serif;
      padding-left: 15px; }
  .form .form-button {
    height: 61px;
    width: 813px;
    background-color: #79addc;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase; }
  .form .message textarea {
    width: 818px;
    height: 192px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #000000;
    margin-bottom: 25px;
    border-color: #79addc;
    padding-left: 15px; }

@media (max-width: 1000px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 100px; }
    .form .name-email {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 100px; }
      .form .name-email .name input {
        width: 453px; }
    .form .country-hotel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 100px; }
      .form .country-hotel .input-country input {
        width: 453px; }
    .form .checkin-out .checkin {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 60%; }
      .form .checkin-out .checkin input {
        width: 453px; }
      .form .checkin-out .checkin .check-in-text {
        background-position-x: 420px; }
    .form .checkin-out .checkout {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 60%; }
      .form .checkin-out .checkout input {
        width: 453px; }
      .form .checkin-out .checkout .check-out-text {
        background-position-x: 420px; }
    .form .adjustables {
      width: 453px;
      margin-bottom: 50px; }
      .form .adjustables .form-adjustables {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
    .form .message textarea {
      width: 453px; }
    .form .form-button {
      width: 453px; } }

.about-page {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 200px; }
  .about-page .about {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about-page .about h1 {
      font-family: "Roboto", sans-serif;
      font-size: 60px;
      font-weight: 100;
      text-transform: uppercase; }
    .about-page .about h1:after {
      content: "";
      display: block;
      width: 140px;
      border-bottom: 2px solid black; }
    .about-page .about p {
      width: 800px;
      font-family: "Lato", sans-serif;
      font-size: 16; }
  .about-page .quotes {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -50px; }
    .about-page .quotes h3 {
      font-family: "Roboto", sans-serif;
      font-size: 40px;
      font-weight: 100;
      text-transform: uppercase; }
    .about-page .quotes h3:after {
      content: "";
      display: block;
      width: 225px;
      border-bottom: 2px solid black; }
    .about-page .quotes p {
      width: 385px;
      font-family: "Lato", sans-serif;
      font-size: 16px; }
    .about-page .quotes .quote1 {
      height: 400px;
      width: 800px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 50px; }
      .about-page .quotes .quote1 .picture {
        height: 150px;
        width: 260px;
        background-image: url("../../images/about-client-01.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .about-page .quotes .quote1 .quote {
        height: 100px;
        width: 385px;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-style: italic;
        margin-right: 125px; }
      .about-page .quotes .quote1 .color {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 100;
        text-transform: capitalize;
        font-style: normal;
        color: #79addc;
        margin-left: 275px; }
    .about-page .quotes .quote2 {
      height: 400px;
      width: 800px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 50px; }
      .about-page .quotes .quote2 .picture {
        height: 150px;
        width: 260px;
        background-image: url("../../images/about-client-02.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .about-page .quotes .quote2 .quote {
        height: 100px;
        width: 385px;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-style: italic;
        margin-right: 125px; }
      .about-page .quotes .quote2 .color {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 100;
        text-transform: capitalize;
        font-style: normal;
        color: #79addc;
        margin-left: 275px; }

@media (max-width: 1000px) {
  .about-page .about {
    margin-bottom: 100px;
    margin-top: 100px; }
    .about-page .about h1 {
      margin: 0 auto; }
    .about-page .about p {
      width: 60%;
      margin: 0 auto; }
  .about-page .quotes {
    margin-bottom: 100px; }
    .about-page .quotes h3 {
      margin: 0 auto; }
    .about-page .quotes .quote1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .about-page .quotes .quote1 .quote {
        margin-right: 0; }
    .about-page .quotes .quote2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .about-page .quotes .quote2 .quote {
        margin-right: 0; } }

.blog {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60%;
  margin-bottom: 300px; }
  .blog .blog-title {
    margin-top: 200px;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .blog .blog-title:after {
    content: "";
    display: block;
    width: 5%;
    border-bottom: 2px solid black; }
  .blog .blogs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .blog .blogs .blog1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 100px; }
    .blog .blogs .blog2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .blog .blogs .blog-date {
      height: 60px;
      width: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #79addc;
      margin-right: 20px; }
      .blog .blogs .blog-date .day {
        font-size: 22px;
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        font-style: bold; }
      .blog .blogs .blog-date .month {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        margin: 0 auto;
        font-weight: 100;
        text-transform: uppercase;
        padding-left: 20px; }
    .blog .blogs .blog-image {
      background-image: url("../images/blog.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 900px;
      height: 259px;
      margin-bottom: 20px; }
    .blog .blogs h5 {
      width: 245px;
      height: 22px;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      margin-bottom: 20px; }
    .blog .blogs p {
      width: 380px;
      height: 64px;
      font-family: "Roboto", sans-serif;
      color: #79addc;
      font-size: 13px; }

@media (max-width: 1300px) {
  .blog .blogs .blog-image {
    width: 700px; } }

@media (max-width: 1000px) {
  .blog {
    margin-bottom: 500px; }
    .blog .blogs .blog-image {
      width: 100%; }
    .blog .blogs .blog1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .blog .blogs .blog2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.contact {
  height: 100%;
  margin: 0 auto;
  margin-top: 200px;
  width: 60%; }
  .contact .title h3 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase; }
  .contact .title h3:after {
    content: "";
    display: block;
    width: 9%;
    border-bottom: 2px solid black; }
  .contact .info .map-form {
    height: 450px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contact .info .map-form .form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 530px;
      height: 500px;
      margin-top: 75px; }
      .contact .info .map-form .form .input {
        height: 60px;
        margin-bottom: 20px;
        padding-left: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 16px; }
      .contact .info .map-form .form .message {
        height: 200px;
        padding-left: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        padding-top: 10px; }
      .contact .info .map-form .form .button {
        text-decoration: none;
        color: #ffffff;
        background-color: #79addc;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        border-radius: 50px;
        width: 133px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 50px;
        text-transform: uppercase; }
  .contact .info .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 50px; }
    .contact .info .address p {
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      color: #000000; }

@media (max-width: 1500px) {
  .contact {
    margin-bottom: 500px; }
    .contact .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contact .info .map-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contact .info .map-form .form {
          width: 100%; }
      .contact .info .address {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }

.tours-details {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px; }
  .tours-details .hero {
    position: relative;
    margin-top: 200px;
    margin-bottom: 30px;
    height: 415px;
    width: 981px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/tour/tour-01.jpg");
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/tour/tour-01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .tours-details .hero .header {
      font-family: "Lato", sans-serif;
      color: #ffffff;
      font-size: 80px;
      font-weight: 100;
      position: absolute;
      margin-top: 20px;
      margin-left: 15px; }
    .tours-details .hero .price {
      font-family: "Lato", sans-serif;
      color: #ffffff;
      font-size: 30px;
      font-weight: 100;
      text-transform: uppercase;
      position: absolute;
      bottom: 5px;
      right: 10px; }
  .tours-details .content {
    height: 775px;
    max-width: 981px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tours-details .content .day h3 {
      font-family: "Lato", sans-serif;
      font-weight: 100;
      font-size: 60px; }
    .tours-details .content .day h3:after {
      content: "";
      display: block;
      width: 15%;
      border-bottom: 2px solid black; }
    .tours-details .content .day p {
      font-family: "Roboto", sans-serif;
      font-size: 16px; }
    .tours-details .content .button {
      text-decoration: none;
      color: #ffffff;
      background-color: #79addc;
      font-family: "Lato", sans-serif;
      font-size: 15px;
      border-radius: 50px;
      width: 133px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 50px;
      text-transform: uppercase; }
  .tours-details .tourFlyer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 300px;
    width: 1000px; }
    .tours-details .tourFlyer .one {
      background-image: url("../images/tour/tour-israel/israel-tour-01.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      width: 300px; }
    .tours-details .tourFlyer .two {
      background-image: url("../images/tour/tour-israel/israel-tour-02.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      width: 300px; }
    .tours-details .tourFlyer .three {
      background-image: url("../images/tour/tour-israel/israel-tour-03.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 350px;
      width: 300px; }

@media (max-width: 1200px) {
  .tourFlyer {
    margin-bottom: 100px; } }

@media (max-width: 1000px) {
  .tours-details .tourFlyer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 300px; }
    .tours-details .tourFlyer .one {
      margin-bottom: 20px; }
    .tours-details .tourFlyer .two {
      margin-bottom: 20px; }
    .tours-details .tourFlyer .three {
      margin-bottom: 20px; }
  .tours-details .content {
    margin-bottom: 300px; }
  .tours-details .hero {
    max-width: 100%; }
    .tours-details .hero .header {
      font-size: 50px; }
    .tours-details .hero .price {
      font-size: 15px; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.hide {
  display: none; }

.show {
  display: block; }

.footer {
  background-color: #79addc;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 12px; }
  .footer .logo {
    height: 42px;
    min-width: 92px;
    background-image: url("../images/logo/logo-white.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px; }
  .footer .copyright {
    margin: 15px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 12px; }
  .footer .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 112px;
    height: 23px;
    margin-right: 300px; }
    .footer .social-media .icon {
      font-size: 23px;
      color: #ffffff; }

@media (max-width: 1000px) {
  .footer {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer .logo {
      margin: 0 auto; }
    .footer .social-media {
      margin: 0 auto; } }
