.contact {
  height: 100%;
  margin: 0 auto;
  margin-top: 200px;
  width: 60%;
  .title {
    h3 {
      font-family: $roboto-font;
      font-size: 30px;
      font-weight: 100;
      text-transform: uppercase;
    }
    h3:after {
      content: "";
      display: block;
      width: 9%;
      border-bottom: 2px solid black;
    }
  }
  .info {
    .map-form {
      height: 450px;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .map {
        // margin-top: 50px;
      }
      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 530px;
        height: 500px;
        margin-top: 75px;

        .input {
          height: 60px;
          margin-bottom: 20px;
          padding-left: 10px;
          font-family: $roboto-font;
          font-size: 16px;
        }
        .message {
          height: 200px;
          padding-left: 10px;
          font-family: $roboto-font;
          font-size: 16px;
          padding-top: 10px;
        }
        .button {
          @include button();
        }
      }
    }
    .address {
      display: flex;
      justify-content: flex-start;
      margin-top: 50px;

      p {
        font-size: 18px;
        font-family: $roboto-font;
        color: $site-black;
      }
    }
  }
}

@media (max-width: 1500px) {
  .contact {
    margin-bottom: 500px;
    .info {
      display: flex;
      flex-direction: column;
      .map-form {
        flex-direction: column;
        .form {
          width: 100%;
        }
      }
      .address {
        justify-content: center;
      }
    }
  }
}
